<div class="container">
	<p id="debug"></p>
	<h1>I-Voter</h1>
	<div class="row">
		<div class="col-sm-4">
			<p id="ws-offline" class="text-danger">Offline</p>
			<p id="ws-online" class="text-success hidden">Online</p>
		</div>
		<div class="col-sm-4">
			<p id="denied" class="text-danger">Ej tillträde - Du är ej i SingSing</p>
			<p id="allowed" class="text-success hidden">Godkänd</p>
		</div>
		<div class="col-sm-4">
			<p id="voter-count">Röstande: <span>--</span></p>
		</div>
	</div>
	<div id="display" class="" >
		<% opts = $voteOptions.each_with_index.map { |o,i| [o,i] } %>
		<%= select_tag("vote", options_for_select(opts), :class => "form-control", :id => "vote") %>

		<h2>Du röstar på:</h2>
		<p id="current-vote">--</p>

		<button id="vote-btn" class="btn btn-primary btn-lg btn-block">
			Rösta
		</button>
	</div>
	<div id="auth" class="hidden">
		<p>Vänligen logga in</p>
		<form>
			<input class="form-control" type="text" placeholder="Nyckel" />
		</form>
		<br/>
		<button class="btn btn-success btn-lg btn-block" id="login">Logga in</button>
	</div>
</div>